body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.screen-overlay, .tinted-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.tinted-screen-overlay {
  background-color: #000;
  opacity: 20%;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.header {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.header-link:hover {
  cursor: pointer;
}

.logo {
  width: 222px;
  height: 40px;
  background-image: url("./assets/logo.png");
  background-size: cover;
}

.expander {
  flex: 1;
}

.menubar {
  display: flex;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 48px;
  flex: 1 0 0;
  align-self: stretch;
  color: #000;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
}

.right-menu {
  display: flex;
  padding: 0px 16px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 222px;
}

.clickable:hover {
  cursor: pointer;
}

.error-text {
  font-size: 14px;
  color: rgb(172, 24, 24);
  text-align: center;
}

.mobile {
  display: none;
}

.hide {
  display: none;
}

@media only screen and (max-width: 910px) {

  .logo {
    width: 40px;
    background-image: url("./assets/logo-icon.png");
  }
    .App .mobile {
    display: inherit;
  }
  
  .App .no-mobile {
    display: none;
  }
  
  .App .header {
    padding: 4px;
    gap: 16px;
  }

}

.loader {
  align-self: center;
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #9898ed;
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: #2323b4;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }
  .loader-small {
    width: 16px;
    height: 16px;
  }
  
  
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}