.vault {
  display: flex;
  padding: 48px 16px 0;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
  width: 100%;
  box-sizing: border-box;
  max-width: 800px;
}

.vault .title {
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
}

.vault .description {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 128.571% */
  text-align: center;
}

.vault .file-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  box-sizing: border-box;
}

.vault hr {
  width: 100%;
}

.vault .info-text {
  color: #aaa;
  text-align: center;
}

.vault .text-button {
  color: #888;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 128.571% */
  text-align: center;
}

.vault .text-button:hover {
  cursor: pointer;
}